# Python >= 3.8 required
fastapi
uvicorn[standard]
python-dotenv
motor
pymongo
beanie
pydantic
pydantic-settings
python-jose
passlib
python-multipart
pytest
httpx
email-validator
bcrypt
redis[hiredis]
slowapi
browser-use
google-genai
# Langchain Core
langchain-core
langchain-community
langchain
langchain-google-genai
# Browser Automation
# Other LLM Providers (Optional)
langchain-openai
websockets
aiofiles
pyotp
# Google Agent Development Kit
google-adk
mysql-connector-python